.ScreenTime {
  background-color: #5888d6;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.LineChart {
  background-color: purple;
  flex: 1;
  margin: 2%;

}

.BottemBar {
  padding: 0;
  margin: 0;
  background-color: #5888d6;
  position: sticky;
  height: 10vh;
  bottom: 0;
  border-top: 2px solid #215fc2;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center; 
  justify-items: center;
}

.BottemBar button {
  width: 100%;      
  height: 100%;     
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;   
}

.BottemBar button :hover {
  cursor: pointer;
}

.BottemBar img {
  max-width: 100%;   
  max-height: 100%;   
  width: auto;       
  height: auto;      
  object-fit: contain;
}



.UnderConstruction {
  min-height: 90vh;
  background-color: #5888d6;
  display: flex;
  justify-content: center;         
  align-items: center;             
  box-sizing: border-box;
}

.UnderConstruction img {
  max-width: 75%;
  max-height: 75%;                  
  height: auto;                     
  width: auto;                      
  object-fit: contain; 
}

