.ScreenTime {
  background-color: #5888d6;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.LineChart {
  border: 0;
  background-color: purple;
  flex: 1;
  margin: 2%;
  
}

.ReportScreen {
  min-height: 90vh;
  background-color: #5888d6;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto auto;        
} 

.ReportScreen div, button {
  margin: 2%;
  background-color: blue;
  border: 0;
  font-size: 35px;
}
#reportScreenLogo {
  grid-column: span 3;
  grid-row: span 3;
}

.ReportScreen button {
  cursor: pointer;
}

.BottemBar {
  padding: 0;
  margin: 0;
  background-color: #5888d6;
  position: sticky;
  height: 10vh;
  bottom: 0;
  border-top: 2px solid #215fc2;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center; 
  justify-items: center;
}

.BottemBar button {
  width: 100%;      
  height: 100%;     
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;  
}

.BottemBar p {
  display: block;
  margin: 0;
  padding-top: 0; 
}

.BottemBar button :hover {
  cursor: pointer;
}

.BottemBar img {
  max-width: 100%;   
  max-height: 100%;   
  width: auto;       
  height: auto;      
  object-fit: contain;
}



.UnderConstruction {
  min-height: 90vh;
  background-color: #5888d6;
  display: flex;
  justify-content: center;         
  align-items: center;             
  box-sizing: border-box;
}

.UnderConstruction img {
  max-width: 75%;
  max-height: 75%;                  
  height: auto;                     
  width: auto;                      
  object-fit: contain; 
}

