.ScreenTime {
  background-color: #5888d6;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.LineChart {
  background-color: purple;
  flex: 1;
  margin: 2%;

}

.BottemBar {
  background-color: #5888d6;
  position: sticky;
  height: 10vh;
  bottom: 0;
  border-top: 2px solid #215fc2;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.UnderConstruction {
  min-height: 90vh;
  background-color: #5888d6;
  display: flex;
  justify-content: center;         /* horizontal centering */
  align-items: center;             /* vertical centering */
  box-sizing: border-box;
}

.UnderConstruction img {
  max-width: 75%;
  max-height: 75%;                  /* scale down if needed */
  height: auto;                     /* maintain aspect ratio */
  width: auto;                      /* maintain aspect ratio */
  object-fit: contain; 
}

